body {
  cursor: none !important;
}
.content {
  padding-top: 35rem;
  padding-bottom: 5rem;
}
@media (min-width: 767px) {
  .content {
    padding-top: 6rem !important;
    padding-bottom: 20rem;
  }
}

.port {
  padding-top: 28rem;
  padding-bottom: 40rem;
}
@media (max-width: 767px) {
  .port {
    padding-top: 36rem !important;
    padding-bottom: 10rem;
  }
}

.skill {
  padding-top: 40rem;
  padding-bottom: 40rem;
}
@media (max-width: 640px) {
  .skill {
    padding-top: 45rem !important;
    padding-bottom: 40rem;
  }
}

.time {
  padding-top: 52rem;
  padding-bottom: 30rem;
}
@media (max-width: 640px) {
  .time {
    padding-top: 60rem !important;
  }
}
.cert {
  padding-bottom: 0px !important;
}
.con {
  padding-top: 0px !important;
}
.carousel-item {
  padding: 0 10px;
}
.carousel-item img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.modal-background {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  z-index: 49;
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  max-width: 100%;
  max-height: 100%;
}
.react-multiple-carousel__arrow {
  z-index: 30 !important;
}
.custom-cursor {
  cursor: none;

  position: fixed;
  pointer-events: none;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  z-index: 9999;
  background-image: radial-gradient(circle at center, red, orange);
  border: 2px solid red;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  animation: pulse 2s ease-in-out infinite;
  transition: transform 0.2s ease-out !important;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

a:hover {
  cursor: none !important;
}
img:hover {
  cursor: none !important;
}
button:hover {
  cursor: none !important;
}
input:hover {
  cursor: none !important;
}
textarea:hover {
  cursor: none !important;
}
li:hover {
  cursor: none !important;
}
.nav a:hover + .custom-cursor {
  width: 30px !important;
  height: 30px !important;
  transform: scale(1.5) !important;
}
