.content {
  padding-top: 35rem;
  padding-bottom: 5rem;
}
@media (min-width: 767px) {
  .content {
    padding-top: 0rem !important;
    padding-bottom: 20rem;
  }
}

.port {
  padding-top: 15rem;
  padding-bottom: 40rem;
}
@media (max-width: 767px) {
  .port {
    padding-top: 30rem !important;
    padding-bottom: 10rem;
  }
}

.skill {
  padding-top: 25rem;
  padding-bottom: 30rem;
}
@media (max-width: 640px) {
  .skill {
    padding-top: 35rem !important;
    padding-bottom: 40rem;
  }
}
